<!-- theme HTML template -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../../css/reset.css">
    <%- include ../_includes/_head %>
  </head>
  <body>
    <div id="feed" class="start-margin">
      <div class="centered">
        <%- yield %>
      </div>
    </div>
  </body>
</html>
