p This is a Neuroscience theme page.

for any, key in public.post.neuroscience._data
  - var language = any.lang
  if language == "en"
    a(href='../post/neuroscience/' + [key])
      h2= any.title
    br
