p Посты в теме Неврология.

br

for any, key in public.post.neuroscience._data
  - var language = any.lang
  if language == "ru"
    a(href='../post/neuroscience/' + [key])
      h2= any.title
      // h2= any.lang + ' - ' + any.title
    br
