<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta name=viewport content="width=device-width, initial-scale=1">
      <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="reset.css">
      <link rel="stylesheet/less" type="text/css" href="blog.less" />
      <link rel="stylesheet" type="text/css" href="post.css">
      <script src="less.js"></script>
      <script src="vue.min.js"></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-93963162-1', 'auto');
        ga('send', 'pageview');

      </script>
    </head>
    <body>
      <div class="body-container">
        <header>
        </header>
        <div id="post-title" class="fixed-bar">
          <a href="#"><div class="bar-wrapper"><span class="title-bar">How to start running (cardio exercise)</span><span class="top-icon">&#10141;</span></div></a>
        </div>
        <div class="centered">
          <div id="app2">
            <heading></heading>
            <feed></feed>

            <div class="form subscribe next">
              <a href="alice-article-ref.html"><b>NEXT: </b>{{ nextPost }}</a>
            </div>

            <about></about>
            <subscribe></subscribe>
          </div>

            <template id="heading1-template">
              <div>
                <h1>{{ postTitle }}</h1>
                <p class="introduction"><b>Alice: </b>{{ postIntro }}</p>
                <p class="introduction tags"><b>This set is about:</b></p>
                <span
                  v-for="tag in postTags"
                  class="tag tag-similar">{{ tag }}</span>
              </div>
            </template>

            <template id="feed-template">
              <div>
                <div
                  class="note-card"
                  v-for="value in name"
                  v-bind:myprops="name">
                  <h2 class="unit">
                    {{ value.note }}
                    <span class="counter" title="comments and references">{{ value.num }}</span>
                  </h2>
                  <p class="break"> {{ value.par }} </p>
                </div>
              </div>
            </template>

            <template id="about-template">
              <div id="about-alice" class="outro" v-once>
                <p><b>About Alice</b></p>
                <p>The thing is, human memory is limited. Who wouldn't love some extra help here! We carry paper pads in our pockets and backpacks, lined with our daily plans, to-do's and reminder notes. And I do, too.</p>
                <p><b>'Alice, too'</b> is a blog for capturing short notes that may come helpful later. The notes make more sense when they go along with a reference, so I keep quite a few. Hope, you're finding some of them useful. If you'd like to see what comes next, please subscribe
                <!-- <a href="#0">subscribe</a>  -->
                for updates.</p>
                <p><a href="mailto:inbox@aiice2.com" class="no-wrap">Send me an email</a> if you need to reach me.
                </p>
              </div>
            </template>

            <template id="mailchimp-template">
              <div id="mailchimp">
                <form action="//tumblr.us14.list-manage.com/subscribe/post?u=883863466a386f508af7858e4&amp;id=cc882b617c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="subscribe with your email">
                	<div id="mce-responses" class="clear">
                		<div class="response" id="mce-error-response" style="display:none"></div>
                		<div class="response" id="mce-success-response" style="display:none"></div>
                	</div>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_883863466a386f508af7858e4_cc882b617c" tabindex="-1" value=""></div>
                  <input type="submit" value="get updates" name="subscribe" id="mc-embedded-subscribe"  class="button chimp-input">
                  </div>
                </form>
              </div>
            </template>

          <button id="btn-wrapper" class="back-ctrl small-ctrl">go back</button>
        </div>
      </div>

      <script>

        var heading1 = {
          template: "#heading1-template",
          data: function () {
            return {
              postTags: [
                'exercise', 'running', 'sports', 'cardio exercise', 'health','routines'
              ],
              postTitle: 'How to start running (cardio exercise)',
              postIntro: 'What is this set about? This is a set introduction. A short description that is about content, not frequency.'
            }
          }
        }

        var aboutAlice = {
          template: "#about-template"
        }

        var formOne = {
          template: "#mailchimp-template"
        }

        var feed = {
          template: '#feed-template',
          props: 'myprops',
          data: function () {
            return {
              name: [
                { note: 'Choose an easy route for your first run.\
                         Plan your route around neighborhood streets you\'re already familiar with.',
                  num: 0 },

                { note: 'You don\'t have to buy running gear to start running.\
                         Put on something you feel comfortable in. Pick your favorite hoodie or t-shirt over everything else.',
                  num: 0 },

                { note: 'It\'s a good thing to gather all the items you plan to wear on the day before.\
                         Having everything set will get logistics out of your way and boost your confidence.',
                  num: 0 },

                { note: 'Try to stay on the sidewalk and keep an eye for traffic.\
                         Choose streets that have lite traffic or none at all – and walk the busy ones.',
                  num: 0,
                  par:  '' },

                { note: 'Once you\'re out there, don\'t push yourself to be fast.\
                         Running easy will keep you safe while you become comfortable with the running mechanics.',
                  num: 0,
                  par:  'Moving at a slow, but steady pace will still count as a good workout. It will strengthen your heart, lungs and burn almost as many calories.' },

                { note: 'Try to find your moderate speed.\
                         It is a good speed if you can breeze through the nose and get enough air.',
                  num: 0 },

                { note: 'Make a stop whenever you feel like it.',
                  num: 0 }
              ]
            }
          }
        }

        new Vue({
          el: '#app2',
          data: { nextPost : 'Exercise reorganizes the brain to be more resilient to stress' },
          components: {
            'heading' : heading1,
            'feed' : feed,
            'about' : aboutAlice,
            'subscribe' : formOne
          }
        });
      </script>

      <script>
        (function() {
          function refIndex() {
            location.href='index.html';
          }

          function goHome() {
            var obj = document.getElementById ('btn-wrapper');
            obj.onclick = obj.addEventListener('click', refIndex);
          }

          goHome();
        })();
      </script>
    </body>
  </html>
