* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

body {
  position: relative;
  margin: 0 auto;
}

header {
  width: 100%;
  top: 0;
}

nav {
  margin: 20px 0 0;
}

h2 {
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
  margin: 15px 0 30px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

b {
  font-weight: 400;
}

.muted {
  color: #bbb;
}

.small {
  font-size: 100%;
}

.str {
  text-decoration: line-through;
  font-style: normal;
}

.centered {
  margin: 0 auto;
  max-width: calc(100vw - 40px);
  width: 100%;
}

.no-wrap {
  white-space: nowrap;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.linked {
  cursor: pointer;
}

@media (min-width: 768px) {
  .centered {
    max-width: 768px;
    width: 60vw;
  }

  .index-margin {
    margin-top: 30vh !important;
  }
}
