* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

body {
  position: relative;
  margin: 0 auto;
}

.body-container {
    padding: 0 0 120px 0;
}

h2 {
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
  margin: 15px 0 30px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

b {
  font-weight: 400;
}

.muted {
  color: #bbb;
}

.small {
  font-size: 100%;
}

.str {
  text-decoration: line-through;
  font-style: normal;
}

.centered {
  margin: 0 auto;
  max-width: calc(100vw - 40px);
  width: 100%;
}

div.form {
    width: 100%;
    margin: 40px 0 40px;
    padding: 40px;
    border-radius: 4px;
}

p.introduction a {
  color: rgb(77, 77, 77);
  border-bottom: 1px solid rgb(77, 77, 77);
}

p.introduction a:hover {
  color: royalblue;
  border-color: royalblue;
}

.tag {
  display: block;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 400;
}

.unit-card {
  border-radius: 4px;
  margin: 30px 0;
}

p.unit,
h2.unit {
  font-weight: 300;
  margin: 0 0 15px;
}

.unit-card h2.entry-title {
  display: inline;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 2px solid rgb(77, 77, 77);
}

.unit-card > span {
  display: inline-block;
  padding: 0 0 20px;
}

span.tag-page,
span.entry-tag {
  display: inline-block;
  margin: 0 4px 4px 0;
  cursor: pointer;
}

span.entry-tag {
  color: #b3b3b3;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.linked {
  cursor: pointer;
}

a.relink {
  color: royalblue;
  border-bottom: solid 2px royalblue;
}

.loader {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  padding: 24px;
  margin-bottom: 20px;
}

.form button {
    border: 0;
    min-height: 54px;
    min-width: 40vw;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    width: 100%;
}

@media (min-width: 768px) {
  .centered {
    max-width: 768px;
    width: 60vw;
}
