// code logic keeps here
// only content unique for the page
// for example, feed on the index page

// + move head to a ejs file,  ejs partial ? include folder/head
// + same with analytics

// + how do I reference CSS files?<br>
// + jade files are good for content. is it the right way to insert content (with stylistic html tags)?<br>
// + why do I need _include_ in some partials?<br>
// + Json means no tags. Try JS files with vars. how can I further divide template and content? (move this to local/global JSON - can I have a json in PUBLIC dir?)<br>
// + how do I mark new lines in EJS? br is just fine<br>

// + partials better moved to LAYOUT

p Контент
