h2 Physical activity reduces stress and anxiety.

h2 Less stress means a better ability to response to a challenging situation.

h2 Running, in particular, produces a large increase in the number of new neurons in the hippocampus, a brain region that is known to regulate stress.

h2 Exercise also strengthens the mechanisms that prevent high levels of anxiety.

h2 A choice of sedentary or active lifestyle changes how the brain functions and how we feel.

h2 Here's the note, as usual. Nothing new here, except the design of the ref block above (<b>tags are updated for the sake of example</b>).

h2 Another note, as usual. Nothing new here, except the design of the ref block above. The references are absent.

p Some content goes in between. – physical activity reduces stress and anxiety – less stress means a better ability to response to a challenging situation – running, in particular, produces a large increase in the number of new neurons in the hippocampus, a brain region that is known to regulate stress – exercise also strengthens the mechanisms that prevent high levels of anxiety – a choice of sedentary or active lifestyle changes how the brain functions and how we feel.

h2 Another note, as usual. Nothing new here, except the design of the ref block above.
