h2 Research shows that hippocampus "is one of the unique structures of the <b>adult brain</b> where new neurons can be generated."

h2 "<b>Omega-3 fatty acids</b>, present in fatty fish, like <b>salmon</b>, will increase the production of ... new neurons."

h2 In human participants "the <b>diet modulates memory and mood</b> in the same direction as it modulates neurogenesis."

h2 "Calorie restriction will <b>improve memory capacity</b>, whereas a high-fat diet will exacerbate symptoms of depression."
