h2 Low socioeconomic status (SES) affected "functions thought to engage specific brain circuits: for example, <b>language</b>, certain dimensions of <b>memory</b>, and the <b>ability to regulate thoughts and emotions</b>."

h2 Higher levels of stress are connected to <b>weaker memory</b> performance. "One design quirk of the brain is that the hippocampus, a key structure for consolidating memories, happens to be loaded with stress hormone receptors."

h2 During a brain scan called functional tomography "low-SES five-year-olds showed less specialization in a key region of the cortex implicated in <b>reading</b>."

h2 "Much of the work over the past few years ... has highlighted structural differences, including preliminary findings in the amygdala, which plays a role in <b>processing fear and other emotions</b>, and in the prefrontal cortex, involved in <b>decision-making and self-control</b>."

h2 "The most consistent finding has been that of a smaller hippocampus in low-SES children." The "trajectory starts ... in the toddler years, with a clear difference <b>by the age of four</b>."

h2 <b>Nutrition</b>, <b>prenatal care</b>, parents' <b>mental health</b> and levels of <b>stress</b> in a family are considered factors as "some poverty-associated brain changes could be <b>occurring prenatally</b>."

h2 The good news is, "especially in children, the <b>brain is extremely plastic</b>", so a positive intervention is possible, for example, in forms of educational programs for parents and parents-to-be or financial support.
