h2 One of the brain structures associated with <b>learning and memory</b> as well as mood is the <b>hippocampus</b>. Importantly, the hippocampus is one of the two structures in the adult brain where the formation of newborn neurons, or <b>neurogenesis</b>, persists.

h2 Diet quality affects the common mental disorders, depression and anxiety. Diet is also linked with cognitive abilities, especially in the ageing population.

h2 Adult hippocampal neurogenesis (AHN) has been linked directly to cognition and mood; therefore, modulation of AHN by diet could emerge as a possible mechanism by which nutrition impacts on mental health.

h2 Some new neurons die over the next few weeks after they emerged. But some become physiologically mature and functionally integrated in the circuit.

h2 A correlation between the level of hippocampal neurogenesis and the performance in hippocampal-dependent learning tasks is observed between mice with different genetic backgrounds.

h2 Environment is also a major factor.

h2 AHN is reduced by stressful experiences.

h2 AHN is reduced in animal models of depression.

h2 Many treatments for depression have been shown to enhance neurogenesis in laboratory animals. Other environmental interventions conferring antidepressant-like behaviour such as <b>running, exercise and environmental enrichment</b> also increase AHN.

h2 It is apparent that AHN is influenced by neurological diseases or/and that disruption of AHN might contribute to their progression.

h2 Ageing is associated with a decreased AHN, and aged rodents display impaired learning and memory abilities.

h2 Stress is also a major negative modulator of AHN, which can induce depressive behaviour.

h2 Social isolation is a stressful experience in rodents and has been shown to negatively regulate AHN and learning abilities.

h2 Sleep has recently appeared as another important modulator of AHN.

h2 Prolonged restriction or disruption of sleep leads to a major decrease in AHN.

h2 Sleep deprivation (SD) also disturbs memory formation.

p ! short-term or acute 1-night (12 h) Sleep Deprivation up-regulates AHN by significantly increasing cell proliferation and the total number of surviving cells BUT the negative effect of SD on AHN begins shortly after more than 12 h of SD. In addition, sustained sleep fragmentation has also been found to reduce AHN and caused delayed changes in cognitive function in rats.

h2 Equally, pregnancy and maternal experiences in rodent also have a negative impact on AHN. These are associated with a decline in performance in hippocampus-dependent tasks during pregnancy.

p Spacial learning is an example of a hippocampus task.

h2 Running and enriched environment are associated with enhanced AHN and spatial learning abilities. Running increases the proliferation, whereas enriched environment increase the survival rate of newborn neurons.

h2 Learning might also induce the activation of newborn neurons and enhance their survival and incorporation into circuits. Indeed, AHN is increased upon learning, but only by learning tasks that depend on the hippocampus

h2 DIET

h2 Nutrition can impact on AHN at four different levels: calorie intake, meal frequency, meal texture and meal content

h2 studies in humans have shown that these same dietary parameters modulate cognitive performance and mood

h2 Calorie restriction Increased survival Mouse

h2 Omega 3 fatty acids Increased Rat

h2 Flavonoids +

h2 Blueberry +

h2 Curcumin +

h2 Retinoic acid excess Decreased proliferation Mouse

h2 Vitamin A deficiency - decreased -

h2 Thiamine deficiency -

h2 Zinc deficiency –

h2 Folate deficiency -

h2 Folic acid +

h2 Increased homocystein – (b12 deficincy)

h2 High fat Decreased proliferation in male rats

h2 Soft diet Decreased proliferation Rat

h2 Caffeine at physiologically relevant doses Decreased proliferation Mouse

h2 Caffeine low doses chronically Decreased proliferation Rat

h2 Ethanol Decreased proliferation Rat

h2 Resveratrol (see foods, like red grapes) Increased proliferation Mice

h2 High sugar (fructose) Decreased proliferation Male rat

h2 (that was Modulation of AHN by diet)

h2 Modulation of learning and memory and depressive behaviour by diet:

h2 Caloric/dietary restriction intermittent fasting:

h2 Enhanced spatial learning Rat (aged)

h2 Increased learning and motor performance Mouse , Increased learning consolidation Mouse

h2 Enhanced verbal memory Human (healthy elderly)

h2 Omega 3 fatty acids +

h2 Flavonoids +

h2 Blueberry - Increased spatial memory in rats and mice and older age humans as well

h2 Curcurmin Improved cognitive performance in Humans as well

h2 Vitamin A/retinoid deficiency impared rats and mice

h2 Impaired spatial learning and memory

h2 Impaired relational memory

h2 Zinc + improvement in humans

h2 High fat -

h2 Decreased spatial learning Rat

h2 Decreased learning and memory and Increased risk for dementia Rat

h2 Impair spatial learning Mice

h2 High sugar

h2 Impaired spatial learning

h2 BUT see - Low glucose (extracellular) Impaired memory Rat (aged)

h2 Soft diet Impaired rats

h2 learning and memory, spacial learning and memory

h2 Caffeine ? Improved cognitive function in	Rats

h2 Ethanol in rats = Induced depressive behaviour

h2 ethanol in humans - impaired cognitive function

h2 Resveratrol +

h2 Vitamin E deficienc y - Associated risk with Human (depression)

h2 Vitamin E ++ Protective effect Rat (brain injury)

h2 + Delayed memory loss Mouse

h2 Calorie restriction (CR) has been suggested to extend lifespan,

h2 enhances spatial learning

h2 It has been shown in rodents that a reduction in calorie intake of 30–40% increases AHN. (from what??))

h2 CR creates favourable environment for facilitating neuronal plasticity, stimulating neurogenensis in humans

h2 ! independently of calorie intake, meal frequency is a key player in modulating AHN.

h2 an interventional trial on memory performance in healthy human elderly subjects has demonstrated the beneficial effects of caloric restriction at 30% for 3 months.

h2 Without modifying significantly calorie intake, extending time between meals increases AHN in mice.

p ...
