//-
  To add a new post preview to the feed, add 3 preview notes here, name the object.
  Add a title to var titles and a url to var urls (to the beginning of each array).
  Update var sources with the new notes object. Items in var sources defines the order of post previews.

  Only h2 headings are included there, otherwise empty blocks are created for paragraphs.

  Here's an array of posts that I want to show in the feed, their urls and themes:

-
  var num = 2

  var titles = [
    "How to start running",
    "How we are programmed to be poor",
    "How the brain is capable of growing new cells"
  ]

  var urls = [
    "how-to-start-running",
    "how-we-are-programmed-to-be-poor",
    "how-the-brain-is-capable-of-growing-new-cells"
  ]

  var themes = [
    "running",
    "neuroscience",
    "neuroscience"
  ]

-
  var a3 = {
    h2: [
      "Choose an easy route for your first run. Plan your route around neighborhood streets you're already familiar with.",
      "You don't have to buy running gear to start running. Put on something you feel comfortable in. Pick your favorite hoodie or t-shirt over everything else.",
      "Let's show only 3 or 5 notes from a set."
    ]
  }

  var a2 = {
    h2: [
      "Low socioeconomic status (SES) affected \"functions thought to engage specific brain circuits: for example, language, certain dimensions of memory, and the ability to regulate thoughts and emotions.\"",
      "Higher levels of stress are connected to weaker memory performance. \"One design quirk of the brain is that the hippocampus, a key structure for consolidating memories, happens to be loaded with stress hormone receptors.\"",
      "\"During a brain scan called functional tomography \"low-SES five-year-olds showed less specialization in a key region of the cortex implicated in reading.\""
    ]
  }

  var a1 = {
    h2: [
      "Research shows that hippocampus \"is one of the unique structures of the adult brain where new neurons can be generated.\"",
      "\"Omega-3 fatty acids, present in fatty fish, like salmon, will increase the production of ... new neurons.\"",
      "\"The diet modulates memory and mood in the same direction as it modulates neurogenesis.\""
    ]
  }

-
  var sources = [
    a3.h2,
    a2.h2,
    a1.h2
  ]
