//-
  To add a new post preview to the feed, I add a new var with 3 preview notes.
  Only h2 headings are included there, otherwise empty blocks are created for paragraphs.

  I also add a title and a url to the beginning of each array, of titles and urls.

  Here's an array of posts that I want to show in the feed, their urls an themes:

-
  var num = 2
  
  var titles = [
    "psot title1",
    "psot title",
    "my first post title"
  ]

  var urls = [
    "psot-url-1",
    "psot-url-too",
    "AAWWWWW"
  ]

  var themes = [
    "neuroscience",
    "neuroscience",
    "null"
  ]

-
  var psot = {
    h2: [
      "Choose an easy route for your first run. Plan your route around neighborhood streets you're already familiar with.",
      "You don't have to buy running gear to start running. Put on something you feel comfortable in. Pick your favorite hoodie or t-shirt over everything else.",
      "Let's show only 3 or 5 notes from a set."
    ]
  }

  var mews = {
    h2: [
      "mew21",
      "mew22",
      "mew23"
    ]
  }

  var psottoo = {
    h2: [
      "31",
      "32",
      "33"
    ]
  }
