//-
  To add a new post preview to the feed, add 3 preview notes here, name the object.
  Add a title to var titles and a url to var urls (to the beginning of each array).
  Update var sources with the new notes object. Items in var sources defines the order of post previews.

  Only h2 headings are included there, otherwise empty blocks are created for paragraphs.

  Here's an array of posts that I want to show in the feed, their urls and themes:

-
  var num = 2

  var titles = [
    "How to start running",
    "How we are programmed to be poor",
    "How the brain is capable of growing new cells"
  ]

  var urls = [
    "how-to-start-running",
    "how-we-are-programmed-to-be-poor",
    "how-the-brain-is-capable-of-growing-new-cells"
  ]

  var themes = [
    "running",
    "neuroscience",
    "neuroscience"
  ]

-
  var psot = {
    h2: [
      "Choose an easy route for your first run. Plan your route around neighborhood streets you're already familiar with.",
      "You don't have to buy running gear to start running. Put on something you feel comfortable in. Pick your favorite hoodie or t-shirt over everything else.",
      "Let's show only 3 or 5 notes from a set."
    ]
  }

  var mews = {
    h2: [
      "mew21",
      "mew22",
      "mew23"
    ]
  }

  var psottoo = {
    h2: [
      "31",
      "32",
      "33"
    ]
  }

-
  var sources = [
    psot.h2,
    mews.h2,
    psottoo.h2
  ]
