h2 Choose an easy route for your first run. Plan your route around neighborhood streets you're already familiar with.

h2 You don't have to buy running gear to start running. Put on something you feel comfortable in. Pick your favorite hoodie or t-shirt over everything else.

h2 It's a good thing to gather all the items you plan to wear on the day before. Having everything set will get logistics out of your way and boost your confidence.

<!-- preview -->

h2 Try to stay on the sidewalk and keep an eye for traffic. Choose streets that have lite traffic or none at all – and walk the busy ones.

h2 Once you're out there, don't push yourself to be fast. Running easy will keep you safe while you become comfortable with the running mechanics.

p Moving at a slow, but steady pace will still count as a good workout. It will strengthen your heart, lungs and burn almost as many calories.

h2 Try to find your moderate speed. It is a good speed if you can breeze through the nose and get enough air.

h2 Make a stop whenever you feel like it.
