<!DOCTYPE html>
<html>
  <head>
    <title>AIice2</title>
    <!-- <script src="/javascripts/app.js"></script> -->

    <!-- <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="SNCMSXtYoSqKAlyxoRRHK-cUb4dYJJd8pgZsxBRajPU" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet/less" type="text/css" href="blog.less" /> -->
  </head>
  <body>
    <%- yield %>
    <div id="footer">
      <p>© foobar</p>
    </div>
  </body>
</html>
