<!-- HTML keeps here -->

<!DOCTYPE html>
<html>
  <%- include _head %>
  <body>
    <div id="feed" class="start-margin">
      <div class="centered">
        <%- yield %>
      </div>
    </div>
    <div id="footer">
      <p>© foobar</p>
      <p><%= foo %></p>
    </div>
  </body>
</html>
