body {
  font-family: 'Helvetica', sans-serif;
  background: #ddd;
  color: #555;
}

h1 {
  font-size: 68px;
  font-weight: 600;
  max-width: 60vw;
  display: block;
}

h2 {
  font-size: 54px;
}

h3 {
  font-size: 36px;
}

h1 span {
  text-transform: ;
}

#logo {
  display: block;
  position: fixed;
  top: 0vw;
  left: 24px;
  color: #777;
}

 #logo span {
   font-family: Georgia, serif;
   font-weight: 600;
   font-size: 72px;
 }

.wrapper {
  height: 100vh;
  max-width: 75vw;
  margin: 0 auto;
  margin-top: 20vh;
}

p.intro,
p.call {
  font-family: Georgia, serif;
  font-size: 54px;
  padding: 4vh 0;
}

p.intro {
  
}
