include _feed

- var counter = 0

  for n in sources
    each note in n
      a(href= "post/#{themes[counter]}/#{urls[counter]}").note-wrapper
        h2
          =note
          | &thinsp;
          span.tag.tag-title.inline-title= titles[counter]
    - counter += 1
