h1 Hello!
p.introduction
  | I'm Alice.
  br
  a(href="/feed") Please, check out the #[b blog]
  br
  a(href="/reminders") or check out the #[b Nutrition reminders]!
  br
  br
  | You can reach me at #[a(href="mailto:inbox@aiice2.com") inbox@aiice2.com]
