div.parent-wrapper
  div.heading.wrapper
    h1
      span Maximize product revenues&thinsp;
      | with a dedicated team that speaks business.
    //  | with a dedicated design team


    p
    //  | dedicated design team
      br
    //  | minimum changes

    p.extend
      | Improve usability and customer success
      | at any stage of the product cycle.



div.wrapper
  h2 Product specs that are actually useful.
  p.extend Docs for development. humanly written docs - from idea to be ready to implement - product docs

  h2 Everything is a function. Build prototypes
  p.extend
    | The right amount of design for startups. Just enough design to go live. Prototypes to test - low-cost assessment of market demand

  h2 Kaizen, improvement of a mature product.
  p.extend Improve existing product without the whole revamp. user journey optimization - churn your sales funnel

  p.call
    | Call today for details
    br
    a(href='tel:+16507144814') (650) 714-4814
    br
    br
    button.book
      span book an onsite meeting
    br
  //  | North California
  // | (San Francisco Bay Area)

  // p work with your engineers
  // p solution support

  //
    p product packages: 1 dedicated attention to your product
    p tackle specific problems along with other products
    p 3 one-time as-you-need, --by-hour--


  //  | to grow your product

  div
    // free in-person UX review
  //  h3 book a spot for a meeting today
      br
  //    | to get a free usability review
  //    | to get a free UX review

  // h2 A one of a kind team.
