
//doctype html
//head
//title a2

//move head to a ejs file,  ejs partial <% include folder/head %>
// same with analytics

//body

!= partial( "_nav" )
!= partial( "_intro" )

h1 My Site Title in Jade
p Welcome to my very first site.

for post, slug in public.post._data
   a( href="/post/#{ slug }" )
     h2= post.title
     h3= post.note
