h2 Beans need to be paired with rice or other full protein. These are grains (buckwheat, rice, wheat, oats, soy, quinoa, corn and their derivative products, as tofu, tempeh or seitan, for a start) and nuts and seeds, also fish, poutry, red meat, eggs and milk. Complete proteins are essential for our wellbeing.

h2 Beans, peas and peanuts are all legumes and need to be complemented. Lentils to be paired with a complete protein, too. Nuts and seeds work well for all legumes, in general.

h2 It is good enough to get a source of conplete protein throught one day, not in every meal. 

h2 Stewing and baking saves more nutrients than boiling or steaming. 

h2 Healthy fats are essential. Nuts and seeds are a good source. Go for chia, hempseed, pumpkin seeds or sunflower seeds, to start with. Any nuts do well — walnuts, pistachios, almonds, cashews, chestnuts, brazil nuts, macadamia, pecan.

//
  бобы нужно Сочетать с рисом или другим полным протеином - why ...

  Vegetables loose nutrients when boiled in water or cooked in steam (?)

  на пару и вареное - не так полещно как мы всегда думали
  лучше тушить и запекать овощи (roasting, baking)

  клетчатка

  лук и чеснок способствуют пищеварению

  масло животного происхождения, сыры, набутербродные сыры и тп - не очень, - why

  ветчина и тп - нездоровый источник белка
  почему, какой здоровый

  очистка зерен
  цельнозерновой
  vs белый хлеб

  белый хлеб, его ограниченная полезность, дешевые калории и усвоение углеводов (как сахар)
