p
span Notes to have printed out, to keep in mind the essential points and revisit from time to time.

p some gear tips maybe

p something on countersteering

h2 Starting up basics

p Always ride in a helmet. Your helmet should fit you and not sit loose.

p When starting the bike, check if you are in neutral gear. Some bikes have a safety feature that doesn't let it start if not in neutral.

p Before riding, check if your helmet straps are fastened. Your helmet protects in case of impact only if it's fastened.

p When ready to take off, check if the kickstand is locked up. For the spring to hold the stand in place is important to prevent a possible accident.

p Before you ride, check your mirror positions and adjust them when staying still.

h2 Riding

p When riding 5 mph or slower, it's OK to take your feet off the foot pegs for better balance.

p When riding, keep the knees tight to the gas tank.

p When riding, watch your chin position. Do not let your chin drop low.

p Avoid riding in rain or in bad weather. Wet road means less grip for your tires and less control over the bike. Wind gusts can nudge you in the lane, so you need to be proactive and anticipate it.

p If you need to ride in the rain, slow down and move with caution.

h2 Braking and turning

p In the turn, turn you head, not only your eyes. It will help you stir through the turn smoothly. Locking your eyes on a hazard may cause an accident.

p In tight and slow turns keep you body straight while leaning the bike into the turn.

p If you need to brake, use both front and rear brake. You front brake has the most braking power.

p For maneuvering at speeds lower than 5 mph, use mainly your rear break to help balance the bike. At low, walking speeds, braking with the front break only might lock the front wheel.

p If you need to brake in a turn, straighten the bike first and then brake with both brakes.

p Braking in a turn without first straightening up the bike should be avoided. It is easy for the tires to lose traction and slip. It is better to lean the bike more in the turn and avoid breaking altogether.
