h2 Motorcycle riding basics

p In the turn, turn you head, not only your eyes. It will helo you stir through the turn smoothly.

p When riding, watch your chin position. Do not let your chin drop low.

p When starting the bike, check if you are in Neutral. Some bikes have a safety feature that doesn't let it start if not in Neutral.

p Before riding, check if your helmet straps are fastened. Your helmet protects in case of impact if it's fastened.

p When ready to take off, check if the kickstand is locked up. For the spring to hold the stand in place is important to prevent a possible accident.

p Before you ride, check your mirrors position and adjust them when staying still.

p When riding 5 mph or slower, it's OK to take your feet off the footpegs for better balance.

p When riding, keep the knees tight to the gas tank.

p In tight and slow turns keep you body straight while leaning the bike into the turn.
