<p class="introduction blog-intro">
  <b>Alice</b>:
  Привет, здесь лежат мои <b>заметки</b> на разные темы. Я пишу, например, про <a href="/theme/nutrition"><b>питание</b></a>, <b>сон</b>, <b>дизайн-проектирование</b> и <b>популярную науку</b>.
  Тут также есть заметки про активный образ жизни, например, <a href="/post/running/how-to-start-running"><b>бег для начинающих</b></a>. Каждая заметка внизу ведёт в соответствующий пост.
</p>
