<div id="about-alice" class="outro">
  <p><b>Про AIice</b></p>
  <p>Этот блог содержит много коротких заметок, которые помогают мне запоминать то, что я изучаю. <b>AIice2</b> &mdash; это моя вторая память.</p>
  <p>Если у вас есть вопрос, <a href="<%- helloStr() %>" class="no-wrap">напишите мне</a>.</p>
</div>
