<div id="about-alice" class="outro">
  <p><b>Про Alice</b></p>
  <p>Этот блог содержит много коротких заметок, которые помогают мне запоминать то, что я изучаю. AIice2 &mdash; это моя вторая память.</p>
  <p>Если у вас есть вопрос, <a href="mailto:inbox@aiice2.com?subject=hello%20Alice&body=Hi%20Alice,%0D%0A" class="no-wrap">напишите мне</a>.</p>
</div>
