<div id="mailchimp">
  <a href="http://tumblr.us14.list-manage.com/subscribe?u=883863466a386f508af7858e4&id=cc882b617c" target="_blank">
    <input type="submit" value="подписаться на обновления" name="subscribe" class="button chimp-input chimp-ext">
  </a>
</div>
