// block mine ?

block append mine
  p This is my note from _raw/_all.jade
  p This is another note

  -
    var colors = ['red', 'blue', 'green'];

    each item in colors
      p= item


// mixin example

// mixin image(file, alt)
    .image
      img(src="/blog/img/" + file alt=alt)

      +image("example.jpg", "Image description")
