h2 Withdrawal

h2 Number 1 is: Drink more water.

h2 Number 1.5: Do not go hungry. Any food is better that none.

h2 Warm liquids, like soups or hot drinks, teas etc., will do good.

h2 Skip the caffeine, coffee or energy drinks. It will make the already messed up digestion much worse.

h2 Do not pick on sugar and sweet foods. It will slow alcohol metabolism, making the toxicity worse, and will blur the mind.

h2 Bread is OK, it absorbs toxins. Rice is very good, too.

h2 Try eating some protein or go for beef broth. Chicken broth does a good job as well.

h2 Keep yourself warm, put on some soft, comfortable clothes.

h2 Try to get in bed early, if you can. If you have a chance to fall asleep safely, do so.

p Sorry, this one is not quiet ready yet.
