<div class="source-card-wrapper">
  <div class="source-img-card">
  </div>
  <div class="source-card">
    <h2 class="unit">
      <%= originTitle %>
    </h2>
    <a href="<%= originURL %>"><span><%= originDomain %></span></a>
  </div>
</div>
