<div class="source-card-wrapper">
  <div class="source-img-card">
  </div>
  <div class="source-card">
    <h2 class="unit">
      <%= title %>
      pp
      <%= current.path.join('/') %>
      pp
      <br>
      Exercise reorganizes the brain to be more resilient to stress
    </h2>
    <a href="https://www.princeton.edu/main/news/archive/S37/28/70Q72/index.xml"><span>princeton.edu</span></a>
  </div>
</div>
