<a href="https://twitter.com/intent/tweet?hashtags=<%= theme() %>&text=<%= body %>&url=<%= encoded() + parent() %>" class="twitter-share-button" data-show-count="false" data-size="large" target="_blank">Tweet</a><script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
