<div class="form auth">
  <a href="mailto:inbox@aiice2.com?subject=help%20me%20remember%20this&body=Hi%20Alice,%0D%0Ahelp%20me%20remember%20this%3A%0D%0A<%= fullURL() %>" class="action-btn"><span>&plus;</span>Remember this</a>
</div>
