<p class="introduction blog-intro">
  <b>Alice</b>:
  Hi, here's where I keep my <b>notes</b>. They cover a few different things as <a href="/nutrition"><b>nutrition</b></a>, <b>sleep</b>, <b>usability</b> and <b>popular science</b>.
  I also write about means to stay active, like <a href="/post/running/how-to-start-running"><b>how to start running</b></a>. Each note you may find below will take you to a blog entry.
</p>
