<nav>
<% for (var i = 0; i < navigation.length; i++) { %>
  <span class="menu-item">
    <a href="<%= navigation[i].ref %>"><%= navigation[i].title %></a>
  </span>
<% } %>

<% for (item in refs, titles) { %>
  <a href="<%= refs[item] %>">
    <span class="menu-item"><%= titles[item] %></span>
  </a>
<% } %>

</nav>
