<div id="about-alice" class="outro">
  <p><b>About Alice</b></p>
  <p><b>The thing is, human memory is limited.</b> Who wouldn't love some extra help here! Paper pads in our pockets and backpacks, all the to-do's and reminders. I do carry those, too. When I read, I make notes to recall later.</p>
  <p><b>'Alice, too'</b> is a blog for capturing these short notes. The notes also make more sense when they go along with a reference, a source, so I keep quite a few. Hope, you're finding some of them useful. If you'd like to see what comes next, please subscribe for updates.</p>
  <p><a href="mailto:inbox@aiice2.com" class="no-wrap">Send me an email</a> if you need to reach me.
  </p>
</div>
