<div id="about-alice" class="outro">
  <p><b>About AIice</b></p>
  <p><b>The thing is, human memory is limited.</b> When I read, I make notes that <b>help me remember</b>.</p>
  <p><b>AIice2</b> is a blog for capturing these short notes. It makes sense to save a reference, a source, so I try to keep a few. That's how my second memory works.</p>
  <p>So, I hope, you're finding it useful. If you'd like to see what comes next, <b>please subscribe for updates</b>. <a href="<%- helloStr() %>" class="no-wrap">Send me an email</a> if you need to reach me today.</p>
</div>
