<div id="about-alice" class="outro">
  <p><b>About Alice</b></p>
  <p><b>The thing is, human memory is limited.</b> Who wouldn't love some extra help here! Paper pads in our pockets and backpacks, all the to-do's and reminders. Oh, I carry those, too. When I read, articles, books, anything &mdash; I make notes to recall later.</p>
  <p><b>'Alice, too'</b> is a blog for capturing these short notes. It's all stashed here so I can easily come back to review later. The notes also make more sense when they go along with a reference, a source, so I keep quite a few.</p>
  <p>Hope, you're finding it somewhat useful. If you'd like to see what comes next, please subscribe for updates. <a href="<%- helloStr %>" class="no-wrap">Send me an email</a> if you need to reach me now.</p>
</div>
