<div id="about-alice" class="outro">
  <p><b>About AIice</b></p>
  <p><b>The thing is, human memory is limited.</b> Who wouldn't love some extra help here! Paper pads in our pockets and backpacks. All the to-do's and reminders (all 174 of them). Oh, I carry those, too! When I read, that is, articles, books, anything &mdash; I make notes <b>that help me remember</b>.</p>
  <p><b>AIice2</b> is a blog for capturing these short notes. Most of them are public, so feel free to share. The notes also make more sense when they go along with a reference, a source, so I keep quite a few. That's how my second memory works.</p>
  <p>So, I hope, you're finding it useful! If you'd like to see what comes next, <b>please subscribe for updates</b>. <a href="<%- helloStr() %>" class="no-wrap">Send me an email</a> if you need to reach me today.</p>
</div>
