<div class="title-box post-css"><%-
  -%><a href="/"><span class="title">aiice2</span></a><%-
  -%><a href="/post"><span class="title">posts</span></a><%-
  -%><a href="/theme"><span class="title">themes</span></a>
</div>
<!--
if current source is index /, /theme or /post show
  <div class="title-box">
    <span class="title">aiice2</span>
  </div> -->
