h2 This book is a belated answer to Tom Watson's probing questions as to why programming is hard to manage.

h2 .. our estimating techniques fallaciously confuse effort with progress, hiding the assumption that men and months are interchangeable.

h2 For the human makers of things, the incompletenesses and inconsistencies of our ideas become clear only during implementation.

h2 We tend to blame the physical media for the most of our implementation difficulties; for the media are not "ours" in the way the ideas are, and our pride colors our judgement.
