h2= body

//
  p= sources.text
  p: #[a(href=sources.url) #[p= sources.title]]
  rewrite as a loop as sources is now an array
  p Need some help? Please, speak out.

// a(href="#1") Help me remember this
