<!DOCTYPE html>
<html>
  <head>
    <title>some title</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/post.css">
    <link rel="stylesheet" href="../css/comments.css">
    <link rel="stylesheet" href="../css/card.css">
    <link rel="stylesheet" href="../css/less.css">
    <%- include ../_includes/_head %>
  </head>
  <body>
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=773025496185247";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <%# EDIT THE THEME %>
    <% var path = public.post.neuroscience._data %>
    <div class="body-container start-margin">
      <div class="centered">
        <div class="fixed-wrapper">
          <div class="card-nav">
            <a href="#0" class="">&larr; previous note</a>
            <a href="#0" class="">next note &rarr;</a>
          </div>
          <div class="parent-card-rel larger">
            <a href="#0">
              <div
                class="parent-img"
                style="background:
                  linear-gradient(
                    rgba(255, 255, 255, 0.5),
                    rgba(255, 255, 255, 0.5)),
                  url('../assets/how-the-brain-is-capable-of-growing-new-cells.jpeg');
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;
                ">
              </div>
              <span>How the brain is capable of growing new cells</span></a>
          </div>
        </div>

        <div class="page-body">
          <div class="card-wrapper">
            <div class="card">
              <%# yield %>
              <h1>Slug</h1>
            </div>
            <div class="card-actions">
              <div class="social-actions">
                <div class="fb-share-button" data-href="https://aiice2.com" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Faiice2.com%2F&amp;src=sdkpreparse">Share</a></div>
                <%-
              %><%- include ../_includes/_comment-twitter %>
              </div>
              <a href="<%- mailtoStr() %>" class="action-btn" data-descr="Get the note in your inbox to review once in a while. It's something I use myself, opt out any time."><span>&plus;</span>Remember this</a>
            </div>
            <span class="tag theme-label">Neuroscience</span>
          </div>

          <div class="form comments">
            <div class="level-block">
              <div class="comment-block answer">
              <%# for (var i = 0; i < sources.length; i++) { %>
                <div class="answer-wrapper">
                  <span class="answer-ref"></span>
                  <a href="" class="source-link" target="_blank"></a>
                </div>
              <%# } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
    </script>
  </body>
</html>
