<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>
    </title>
    <%- include ../_includes/_head %>
    <script type="text/javascript" src= "/helpers.js"></script>
  </head>
  <body>
    <%- yield %>
    <div id="footer">
      <p>footer in layout</p>
    </div>
  </body>
</html>
