<!DOCTYPE html>
<html>
  <head>
    <title>Post page template static title</title>
    <%- partial ("_partils/_head") %>
  </head>
  <body>
    <%- yield %>
    <div id="footer">
      <p>footer</p>
    </div>
  </body>
</html>
