// this is a post template

// script(src="some.js")

// Jade files store content
// NEED to generate unique PAGES - from Jade files
// every text post should have its own JADE to store content ?
// EXTEND pulls content - can I use it to generate post pages ?

// how to make ALL new .jade posts use a certain layout ?

// NEED to fill in the EJS post template somehow ?!
// else: can I fill the EJS layout template directly from JSON ?!
// pull data to variable from JSON to JADE file instead ?

-
  var yyy =
  "here's that variable post title!"

#mine
  h3= say_hello(yyy)
  h3 some string content inplace of yield
  span string theme
  p string post intro
