p this is a post template

p Jade files store content. Every text post should have its own .JADE
  br
  | LATER how to make ALL new .jade posts use a certain layout ? (to fill in text values only)

p NEED to fix index page reaching for default layout (which is used now for posts) !?

script.
  if (10 == 10) {
    //alert("working, too");
  }


-
  var localVar =
  "localVar var: here's that unique post title!"

#mine
  //h3= say_hello(localVar)
  h2= localVar
  h2= title
  h3 some string content in place of yield
  span string theme
  p string <b><i>post</i></b> intro
