// this is a post template
// need to create a separate layout for this

script(src="aa.js")

| nnn

//
  jade files store content
  NEED to generate unique PAGES ??
  every text post should have its own JADE to store content ??

include _raw/_all.jade

-
  var colors = ['red', 'blue', 'green'];

each item in colors
  p= item


//
  mixin example

//
  mixin image(file, alt)
    .image
      img(src="/blog/img/" + file alt=alt)

  +image("example.jpg", "Image description")
