// this is a post template

// script(src="some.js")

// Jade files store content
// NEED to generate unique PAGES ??
// every text post should have its own JADE to store content ??
// EXTEND pulls content - can I use it to generate post pages ?

// include _raw/_all.jade


#mine
  p some content from yield
