p PPPpost body
p ? assign class.unit to all par
  br
  | unless class break is present

- var items = { home : 'Home', about: 'About', account: 'Account' }
  ul
    - for item, path in items
      li
        a(href="/" + path) #{item}
