h2 Cook basics instead of complex meals.

//
  cook rice
  beans
  bake carrots
  beets

  then mix
  everytime try something different

  a salad
  or a side


  tomatoes loose their flavor in the fridge
  clean and dry
  set out on a plate on a table

  asparagus on a grill :o

  steamed is not so good
  looses nutrients
  and is flavorless


  bake or roast in the oven
  that makes the taste more intense
  or sautee in a pan


  for salads
  for rough greens
  as kale
  or chards
  beet or carrot tops
  lemon helps to break down the greens and make it more digestible

  massage dark greens
  with olive oil and salt

  dillute dressing with water
  instead of just adding more oil

  califlower
  can be white or yellow
  can be roasted chopped into medium chunks

  is yellow and red and orange lentils really processed?
  these that make mash, puree?
  or are they just other varieties rather than shelled?
