h2 soak nuts and seeds too, if you can.

Soaking nuts helps with digestion
Works the same way as for legumes, beans.

Things that the seeds need to protect themselves are released in the water
which we discard.

other nutrients become available and are easier digested

a brief 20-30 minute soak is enough
and even 5 minutes is better than none


h2
