h2 Beans need to be soaked before cooking.

h2 Soak nuts, and seeds too, if you can.

h2 Soaking nuts helps with digestion. Works the same way as for legumes or beans.

h2 Things that the seeds need to protect themselves are released in the water, which we discard. Other nutrients become available and are easier digested.

h2 A brief 20-30 minute soak is enough, and even 5 minutes is better than none.
