h2 recap

h2 Beans need to be paired with rice or other full protein.

бобы нужно Сочетать с рисом или другим полным протеином - why ...

Vegetables loose nutrients when boiled in water or cooked in steam (?)

на пару и вареное - не так полещно как мы всегда думали
лучше тушить и запекать овощи (roasting, baking)

клетчатка

лук и чеснок способствуют пищеварению

масло животного происхождения, сыры, набутербродные сыры и тп - не очень, - why

ветчина и тп - нездоровый источник белка
почему, какой здоровый

очистка зерен
цельнозерновой
vs белый хлеб

белый хлеб, его ограниченная полезность, дешевые калории и усвоение углеводов (как сахар)
