h2 Storage basics

h2 Store tomatoes in a dark, cool space. Tomatoes ripen after they were picked, and can be left on the counter, in a dry spot. Do not stack them in rows and leave them so they do not touch.


Put cut tomatoes in the fridge.


Store onions separately from potatoes.
potatoes will sprout near by. Potatoes are good for week two


Cut the tops off the beets
as they are taking, stretching nutrients from the beet


dry fresh greens herbs on paper towels
then frap in paper towels and wrap in plastic wrap


put paper towels between layers of berries, strawberries

berries will not ripe more
they stop ripening when they were picked

in contrast plums and apricots and peaches etc. will

figs do not ripen after harvest.


storing grapes . nothing unusual wrap in plastic put in the fridge

ice cubes of oil with herbs!
photo

smaller citrus fruits are sweeter, tend ti be sweeter


PEARS ripen after ! they are picked but! the fruit must have its stem in place.

celery . wrao in ! damp paper towel and refrigerate

asparagus
put upright!! jn a glass or a bowl with half an inch of water
