h2 Storage basics

h2 Store tomatoes in a dark, cool space. Tomatoes ripen after they were picked, and can be left on the counter, in a dry spot. Do not stack them in rows and leave them so they do not touch. Put cut tomatoes in the fridge.


h2 Store onions separately from potatoes. potatoes will sprout near by. Potatoes are good for week two


h2 Cut the tops off the beets, as they are taking, stretching nutrients from the beet


h2 dry fresh greens herbs on paper towels, then wrap in paper towels and in plastic wrap. Also, put in glass with water, same as flowers


h2 put paper towels between layers of berries, strawberries. berries will not ripe more. they stop ripening when they were picked. in contrast plums and apricots and peaches etc. will

h2 figs do not ripen after harvest.


h2 storing grapes . nothing unusual wrap in plastic put in the fridge

h2 ice cubes of oil with herbs! photo

h2 smaller citrus fruits are sweeter, tend to be sweeter


h2 PEARS ripen after ! they are picked but! the fruit must have its stem in place.

h2 celery . wrap in ! damp paper towel and refrigerate

h2 asparagus - put upright!! jn a glass or a bowl with half an inch of water
