* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-family: San Francisco, -apple-system, Helvetica, Arial, sans-serif;
}

body {
  position: relative;
  margin: 0 auto;
}

header {
  width: 100%;
  top: 0;
}

.title-box {
  position: relative;
  padding: 20px;
}

.title-box a {
  display: inline-block;
}

.title-box a span {
  cursor: pointer;
  margin: 0 6px 0 0;
  color: #999;
}

.title-box:hover a span {
  color: #4d4d4d;
}

.title-box a:hover span {
  color: royalblue;
}

span.title {
  font-variant: small-caps;
  font-size: 18px;
  font-weight: 400;
  cursor: default;
  display: inline-block;
}

.title-box.post-css {
  padding: calc(28px + 12px) 20px 12px;
}

nav {
  margin: 20px 0 0;
}

nav .menu-item {
  border-radius: 4px;
  font-variant: small-caps;
  margin: 0 0px 10px 0;
  display: inline-block;
  padding: 3px 12px 6px;
  /* COMPENSATING FOR SMALL-CAPS */
}

h2 {
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
  margin: 15px 0 30px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

b {
  font-weight: 400;
}

.muted {
  color: #bbb;
}

.small {
  font-size: 100%;
}

.str {
  text-decoration: line-through;
  font-style: normal;
}

.centered {
  margin: 0 auto;
  max-width: calc(100vw - 40px);
  width: 100%;
}

.no-wrap {
  white-space: nowrap;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.linked {
  cursor: pointer;
}

@media (min-width: 768px) {
  .centered {
    max-width: 768px;
    width: 60vw;
  }

  .start-margin {
    margin-top: 30vh !important;
  }

  .title-box {
    position: fixed;
    padding: 1.75vw;
    top: 0;
    left: 0;
  }

  .title-box a {
    display: block;
  }

  span.title {
    display: block;
    font-weight: 600;
    /* compensating for Safari rendering */
    /* of fixed elements, setting a colored background didn't work */
  }
}
