.card-wrapper {
  /*padding: 20px 80px;*/
  /*background: white;*/
}

.card {
  border: solid 1px #ddd;
  border-color: #ddd;
  border-radius: 8px;
  padding: 20px 30px 30px;
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}

.card h1 {
  margin: 0;
  /*padding: 0 0 20px;*/
}

.card-actions {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 30px 0;

  width: 100%;
  border-radius: 4px;
}

.card-actions a.action-btn::after {
  content: attr(data-descr);
  background: grey;
  display: block;
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  color: #000;
  font-size: 16px;
  padding: 4px;
}
