@import url("basics.css");

.index-margin {
  margin-top: 0;
}

.menu-item {
  border-radius: 4px;
  font-variant: small-caps;
  margin: 0 0px 10px 0;
  display: inline-block;
  padding: 3px 12px 6px;
  /* COMPENSATING FOR SMALL-CAPS */
}

.menu-item a {
}

#footer-nav {
  margin: 80px 0 40px;
}

#footer-nav .menu-item {
  background: #dfdfdf;
}

#footer-nav .menu-item a {
  color: #7b7b7b;
}

p.introduction a {
  color: rgb(77, 77, 77);
  border-bottom: 1px solid rgb(77, 77, 77);
}

p.introduction a:hover {
  color: royalblue;
  border-color: royalblue;
}

.tag {
  display: block;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 400;
}

.tag-title {
  padding: 12px;
  color: #b3b3b3;
}

.inline-title {
  display: flex;
  display: inline-block;
  padding: 6px 12px;
  line-height: 24px;
  margin-top: 4px;
}

.page-body {

}

.page-body p,
.page-body h2 {
  font-weight: 300;
  margin: 0 0 15px;
}

.page-body h2 {
  margin: 0 0 30px;
  cursor: default;
}

.unit-card {
  border-radius: 4px;
  margin: 30px 0;
  cursor: pointer;
}

.unit-card:last-of-type {
  margin-bottom: 40px;
}

p.unit,
h2.unit {
  font-weight: 300;
  margin: 0 0 15px;
}

h2.inline-unit {
  display: inline;
  margin: 0;
  /* NEED TO FIX? FLEX? SEE EXAMPLES */
  margin: 0 6px 0 0;
}

.unit-card:nth-child(1) h2 {
  font-weight: 400;
}

.spaced-card {
  margin: 40px 0;
}

.loader {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  padding: 24px;
  height: 73px;
  margin-bottom: 20px;
}

span.subtle-message {
  font-weight: 300;
}

div.full-width {
  border-radius: 0;
  margin: 0;
  height: 100px;
  display: flex;
}

.full-width span {
  width: 100%;
  align-self: center;
  text-align: center;
}
