* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

::-webkit-input-placeholder {
  /*color: #777;*/
  color: #bbb;
}
::-moz-placeholder {
  color: #bbb;
}

:-ms-input-placeholder {
  /*color: ;*/
}
:-moz-placeholder {
  /*color: ;*/
}

.hidden {
  display: none !important;
  visibility: hidden;
}

a {
    color: royalblue;
    text-decoration: none;
}

.str {
    text-decoration: line-through;
}

.rel {
    position: relative;
}

.flex {
    position: flex;
}

button {
    border: 0;
}


/*
- - - -
*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;

}

/*
ul li {
    -webkit-touch-callout: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/

.bottom-margin {
    margin-bottom: 24px;
}

*:focus {outline:0;}


p, span {
    line-height: 19px;
    /* 120% */
    /*font-weight: lighter;*/
}

html {
    background-color: #f2f2f2;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    color: #333;
    font-size: 100%;
    line-height: 100%;
    /*padding-left: 300px;*/
}

.overlay-screen {
    background-color: rgb(248,248,248);
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left:0;


/*
!!!
*/
    overflow: scroll;
}

#positioning {
    /*box-sizing: border-box;*/
    padding: 40px;
    max-width: 680px;
    margin: 0 auto;
    padding-bottom: 70px;
    /*padding: 160px 0 200px 0 !important;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;*/
}

.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.clear-padding {
    padding: 0 !important;
}

b {
    font-weight: bolder;
}

.red {
    background: red;
}

img {
    vertical-align: middle;
}

ul.plain-list {
    list-style-type: none !important;
}

.text-muted {
    color: #777;
}

.top-margin {
	margin-top: 20px !important;
}

.right-margin-sm {
    margin-right: 4px !important;
}

.small {
    /*font-size: 75%;*/
    font-size: 14px;
}

.smaller {
    /*font-size: 75%;*/
    font-size: 12px;
}

.light {
    font-weight: lighter;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.return-btn {
    /*border: 2px solid rgba(119,119,119,0.5);*/
    /*color: rgba(119,119,119,0.5);*/

    border: 2px solid #337ab7;
    color: #337ab7;
	border-radius: 20px;
    font-size: 14px;
    font-weight: normal;
    /*line-height: ;*/
	margin: 0 10px 12px 0;
	padding: 6px 12px;

    display: inline-block;
}


/* – – – */

html {
  font-family: San Francisco, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Helvetica, Arial, sans-serif;
}

#positioning2 {
    max-width: 680px;
    margin: 0 auto;
    /*padding: 0 40px 70px;*/
    padding: 0 40px 120px;
}

.select-wrapper {
  position: fixed;
  width: calc(100%);
  padding: 40px 0 0;
  /*background: grey;*/
  background: #f2f2f2;
  z-index: 2;
  /*box-shadow: 0 20px 2px #f2f2f2;*/

  user-select: none;
  -webkit-user-select: none;
}

.select-label {
  position: fixed;
  max-width: calc(680px - 40px * 2);
  padding: 0;
}

div.spacer {
  height: calc(62px + 40px + 20px + 20px);
  /*background: red;*/
  /*z-index: 3;*/

  user-select: none;
  -webkit-user-select: none;
}

div.expanded {
  height: calc(142px + 62px);
  /* 204px */
}

select.notesPage2 {
  font-weight: 400 !important;
  position: relative;

    font-size: 24px;
    margin: 0 !important;
  font-family: San Francisco, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', San Francisco, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  line-height: 62px;
  /*display: inline-flex;*/
  overflow: hidden;
  max-width: 100%;

  height: 62px;
  /*height: 42px;*/
  /*padding: 0 10px 0 30px;*/
  padding: 0 40px 0 20px;
  cursor: pointer;
  /*overflow: hidden;*/
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
  color: slategrey;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #ececec;
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
}

select.dimmed {
  color: #bdc5cc;
}

select.dimmed:hover {
  color: slategrey;
  background: #e8e8e8;
}

label.select-label {
 display: block;
 margin: 0 auto;
 position: relative;
  /*height: 42px;*/
}

div.new-theme {
  display: inline-flex;
  margin: 0 auto;
  max-width: calc(680px - 40px * 2);
  /* 600 */
  width: 100%;
  /*background: grey;*/
  height: 62px;
  /*position: relative;*/

  /*padding: 0 40px 0 20px;*/

  -webkit-border-radius: 2px;
  border-radius: 2px;

}

.block-bg {
  background: #eee;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

.new-theme input,
.new-theme button {
  -webkit-border-radius: 2px;
  border-radius: 2px;

  font-size: 24px;
  font-weight: 300;
  margin: 0;
  height: 62px;
}

/*.new-theme input:hover[type=text] {
  cursor: pointer;
}*/

.new-theme input {
  width: 100%;
  padding: 0 20px;
  color: slategrey;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
}

.new-theme button {
  cursor: pointer;
  width: 100%;
  margin: 0;
  width: auto;

  background: slategrey;
  color: white;
  font-weight: 400;
  padding: 0 20px;
  text-align: left;
  white-space: nowrap;
}

.white-bg {
  background: white;
}

.select-label::after {
  font-size: 24px;
  position: absolute;
  z-index: 999999;
  top: 0;
  right: 0;
  box-sizing: border-box;
  width: 30px;
  height: 62px;
  padding: 0 20px 0;
  content: '\2193';
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  color: slategrey;
  color: #bdc5cc;
  /*background: red;*/
}

.select-label:hover::after {
  color: slategrey;
}

.feed-wrapper {
  /*margin-top: 30px;*/
  /*padding: 20px 0 0;*/
}

.note-card p.unit {
  color: #3d3d3d;

  font-weight: 300;
  font-size: 24px;
  line-height: 30px;

  /*color: #454545;

  font-weight: 400;
  font-size: 24px;
  line-height: 30px;*/

  margin: 0 0 18px;
}

p.source-title {
  color: slategrey;
  /* #7e8d9b */
  color: #bdc5cc;

  font-weight: 300;
  font-weight: 300;
  font-size: 21px;
  line-height: 27px;
  /*padding: 2px 0 0;*/
  /* txt line adj for 16px */
  display: block;
  position: absolute;
  /*right: 0;*/
  right: calc(100% + 20px);
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  max-width: 200px;
  /*background: ;*/
  cursor: pointer;

  font-size: 18px;
  font-variant: small-caps;
  /*padding: 4px 0 0;*/
  padding: 2px 0 0;
  /* center line */

  user-select: none;
  -webkit-user-select: none;

  /*display: none;*/
}

.note-card p.root-source {
  color: slategrey;
}

.delete-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0 0;
  white-space: nowrap;

  user-select: none;
  -webkit-user-select: none;
}

a.delete-ctrl {
  padding: 0 0 2px;
  color: slategrey;
  border-bottom: 1px solid slategrey;
  /*background: red;*/
}

.delete-wrapper:hover a.delete-ctrl {
  color: #cd0152;
  border-bottom: 1px solid #cd0152;
  /*background: white;*/
}

#wi2prod-wi
{
    position: fixed;
    z-index: 999999;
    bottom: 0;
    left: 0;

    width: 100%;

    user-select: none;
    -webkit-user-select: none;
}

#wi2prod-wi input#wi2prod-note
{
    font-size: 24px;

    width: 100%;
    margin: 0;
    padding: 16px 12px 18px 18px;

    color: #444;
    border: 0;
    background-color: #ededed;
}

#wi2prod-wi input#wi2prod-note:hover
{
    cursor: pointer;

    background-color: #f4f4f4;
}

#wi2prod-wi input#wi2prod-note::-webkit-input-placeholder
{
    color: #bbb;
}

#wi2prod-wi input#wi2prod-note:focus
{
    cursor: text;

    color: #eee;
    background-color: royalblue;
}

#wi2prod-wi input#wi2prod-note:focus::-webkit-input-placeholder
{
    color: royalblue;
}

@media (max-width: 1024px) {
  .select-wrapper {
    padding: 0;
  }

  div.spacer {
    height: 102px;
  }

  p.source-title {
    display: none;
  }

  select.notesPage2,
  select.notesPage2:hover {
    color: white;
    background-color: slategrey;
  }

  .select-label:hover::after {
    color: #bdc5cc;
  }
}

@media (max-width: 600px) {
  #positioning2 {
    padding: 0 20px 120px;
  }

  select.notesPage2 {
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  div.spacer {
    height: 82px;
  }
}
